@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--foreground);
  background: #030705;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
